<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbank.mapper.ShareMemberMapper">

    <insert id="upsert">
        INSERT INTO share_member (share_id, user_id, subscribed) VALUES (#{shareId}, #{userId}, #{subscribed})
        ON DUPLICATE KEY UPDATE subscribed = VALUES(subscribed)
    </insert>
</mapper>
